.BookSelect {
  background-color: #fefae0;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.BookSelect img {
  width: 150px;
}

.BookSelect p {
  display: flex;
  flex-direction: column;
}

.BookSelect h2 {
  align-items: start;
}

.BookCover {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.BookCover input[type="file"] {
  display: none;
}

.customToast {
  color: #fefae0;
  background-color: #4a1b20;
  --toastify-color-progress-success: #fefae0;
  --toastify-icon-color-success: #fefae0;
}

.ContainerBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonDisplay {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1rem;
  margin: 0;
  padding: 0.1rem;
  font-weight: bolder;
}

.buttonDisplay:hover {
  color: #606c38;
}

.displayText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.85rem;
  padding: 0.2rem 2rem;
  margin: 0;
  margin-left: 0.8em;
  line-height: 1.9rem;
}
.titleExtract {
  padding: 0.2rem 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
