.BookSelect {
  background-color: #fefae0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.BookSelect img {
  width: 150px;
  align-items: center;
}

.bookTitle {
  margin: 2.5rem;
}

.BookCover {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.BookCover input[type="file"] {
  display: none;
}

.customToast {
  color: #fefae0;
  background-color: #4a1b20;
  --toastify-color-progress-success: #fefae0;
  --toastify-icon-color-success: #fefae0;
}

.ContainerBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RatingsBook {
  box-shadow: 0px 10px 10px gray;
  border: 2px solid #4a1b20;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

p {
  margin-block: 1px;
}

.Ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ratings > p {
  height: 25px;
}

.Stars > p {
  display: flex;
  align-items: center;
  font-size: small;
  height: 25px;
}

p > meter {
  margin: 5px;
}

p > span {
  color: #bc6c25;
}

meter::-webkit-meter-optimum-value {
  background: #bc6c25;
}

.buttonDisplay {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1rem;
  margin: 0;
  padding: 0.1rem;
  font-weight: bolder;
}

.buttonDisplay:hover {
  color: #606c38;
}

.displayText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.85rem;
  padding: 0.2rem 2rem;
  margin: 0;
  margin-left: 0.8em;
  line-height: 1.9rem;
}
.titleExtract {
  padding: 0.2rem 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 570px) {
  .RatingsBook {
    margin-top: 20px;
  }
}
