.BookSelect {
  background-color: #fefae0;
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.BookSelect img {
  width: 100px;
}

.BookSelect p {
  display: flex;
  flex-direction: column;
}

.BookSelect h2 {
  align-items: start;
}

.BookCover {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.BookCover input[type="file"] {
  display: none;
}

.customToast {
  color: #fefae0;
  background-color: #4a1b20;
  --toastify-color-progress-success: #fefae0;
  --toastify-icon-color-success: #fefae0;
}
