.navBar {
  background-color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  /* position: ; */
  /* min-height: 6vh;
  min-width: 100vw;
  width: 25vw; */
  padding: 0.5rem;
}
.logo {
  width: 20vw;
  height: auto;
  border-radius: 0.5rem;
  margin: 0rem;
  padding: 0.1rem;
}
.navbarLinks_Container {
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background-color: (var(--main-color));
  padding: 2rem;
  transition: all 0.8sec ease-out;
}

.menu_nav_Open .navbarLinks_Container {
  width: 100vw;
  right: 0;
  visibility: visible;
}

.navbarLinksItems::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3vw;
  height: 0.5vh;
  background-color: white;
}

a {
  color: black;
  font-size: 0.9rem;
}

.navbarRoute {
  display: block;
  padding: 1.6rem;
  font-size: 5vw;
  color: white;
}

.menu_nav_Open .navBar {
  width: 100vw;
  right: 0;
  visibility: visible;
}

.navbarBurger {
  display: block;
  position: fixed;
  top: 1 rem;
  right: 1rem;
}

.navbarBurger:hover {
  cursor: pointer;
}

/* Menu burger */
.burgerBar,
.burgerBar::before,
.burgerBar::after {
  display: block;
  width: 40px;
  height: 2px;
  position: relative;
  border-radius: 1rem;
  background-color: white;
  transition: all 0.5sec ease-in-out;
}
.burgerBar::before,
.burgerBar::after {
  content: "";
  position: absolute;
  left: 0;
}

.burgerBar::before {
  transform: translate(-8rem);
}

.burgerBar::after {
  transform: translate(0.8rem);
}

.showNav.burgerBar {
  background: transparent;
  width: 0;
}

.menu_nav_Open .burgerBar::before {
  transform: (45deg);
}

.menu_nav_Open .burgerBar::after {
  transform: (-45deg);
}

/* border button animation */

.navbarLinksItems {
  transform: translate(100vh);
}

.menu_nav_Open .navbarLinksItems {
  transform: translate(0);
}

.menu_nav_Open .slideInDown1 {
  transition: all 1.3sec ease-out;
}

.menu_nav_Open .slideInDown2 {
  transition: all 1.1sec ease-out;
}
.menu_nav_Open .slideInDown3 {
  transition: all 1.2sec ease-out;
}

.menu_nav_Open .slideInDown4 {
  transition: all 1.3sec ease-out;
}

@media screen and (min-width = 767px) {
  .navbarBurger {
    display: none;
    width: 40vw;
    height: 40vh;
    background-color: transparent;
    border: none;
    color: inherit;
  }
}

.menu_nav_close {
  background-image: url(../../assets/images/close.svg);
  height: 5vh;
  width: 4vw;
}

.menu_nav_open {
  background-image: url(../../assets/images/burger.svg);
  height: 5vh;
  width: 4vw;
}
