.navbar {
  background-color: var(--main-color);
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  height: 15vh;
  width: 100vw;
  padding: 0;
}

/* .burger_menu_container {
 

/* LOGO */
.logo_Cover4You {
  width: 25vw;
  height: auto;
  margin: 0rem;
  padding: 0.1rem;
  border-radius: 7px;
}

/* Menu ouvert + icone croix */
.burger_nav_open {
  background-image: url(../../assets/images/close.svg);
  border: none;
  height: 1vh;
  border: none;
  width: 4vw;
  z-index: 3;
  background-repeat: no-repeat;
  
}
/* Menu fermer + menu burger */
.cross_nav_close {
  background-image: url(../../assets/images/burger.svg);
  border: none;
  height: 5vh;
  width: 4vw;
  z-index: 3;
  background-repeat: no-repeat;
}

.navbar_links_container {
  display:flex;
  flex-direction: column;
  gap:5rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color:var(--main-color);
  position: relative;
  z-index: 99;
}
.navbar_links_items > a {
  font-size: 2rem;
}

.navbar_links_container > a {
  position: absolute;
}

.navbar_links_items > a {
  color: white;
  padding: 2rem 4rem;
}
