.bookBanner {
  display: grid;
  grid-template: 5vh 2.5vh 2.5vh 11vh/20vw 0.5fr 1fr 0.5fr;
  justify-items: center;
  margin-bottom: 5vh;
}
.bookBanner > * {
  align-self: center;
}
.bookBanner > img {
  grid-row: 1/5;
  height: 20vh;
}
.title {
  grid-column: 2/4;
  grid-row: 1;
}
.author {
  grid-column: 2;
  grid-row: 2;
  white-space: nowrap;
}
.year {
  grid-column: 2;
  grid-row: 3;
}
.buttonFav {
  grid-column: 4;
  grid-row: 2/4;
  width: 10vw;
}
.buttonCustom {
  grid-column: 4;
  grid-row: 4;
}
.bookBanner > .synopsis {
  grid-row: 4;
  grid-column: 2/4;
  line-height: 1rem;
  font-size: small;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding-top: 3rem;
}
