.containerBook {
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  border: solid #08451c;
  margin: 20px;
  height: 200px;
}

.BookStyle {
  display: flex;
  justify-content: center;
}

.textChanger {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px;
}

.colorTitle {
  animation: changeColor 5s infinite;
}

@keyframes changeColor {
  0% {
    text-shadow: 2px 2px 4px rgba(44, 211, 69, 0.88);
  }
  25% {
    text-shadow: 2px 2px 4px white;
  }
}

.colorTitle {
  background-color: #dfe3d1;
  background-size: auto;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .imageContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
