.containerBook p {
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  border: solid #08451c;
  margin: 0 10px;
  height: 190px;
}

/*.book-image {
  margin: 0 10px;
} */

.BookStyle {
  display: flex;
  justify-content: center;
}
