.containerBook {
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  border: solid #329649;
  margin: 0 10px;
  height: 180px;
}

.book-image {
  margin: 0 10px;
}

.BookStyle {
  display: flex;
  justify-content: center;
}
