.removeHalf,
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  font-style: normal;
  font-family: sans-serif;
  margin: auto;
  color: var(--light-color);
  text-align: center;
}

footer > section {
  background-color: #606c38;
  padding: 5px;
}

footer p {
  color: var(--light-color);
  padding: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

ul,
li {
  font-size: 0.75rem;
  margin: auto;
}

b {
  font-size: small;
}

article {
  display: flex;
  padding: 2px;
  margin: 20px;
  gap: 2rem;
}

figure {
  display: flex;
  border: 20px;
  padding: 10px;
}

/*------Marge entre les images-------*/
figure img {
  margin: 30px;
}

#footer-container {
  display: flex;
  justify-content: center;
}

.alignLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .alignLogo {
    flex-direction: column;
  }
  .removeHalf {
    display: none;
  }
}
/*-----Enlever le blanc sous le footer------*/
body {
  line-height: 2rem;
}
